<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-secondary-emphasis" href="/home">♟️ Promoted Pawn</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-secondary mx-2" href="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary mx-2" href="/about-us">Acerca de nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary px-4" href="#">Inicia sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
